body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
}

.link-tag {
  text-decoration: none;
}
/* media queries */
.right-sidebar {
  padding: 0;
  background-color: #dad3cb;
}
.left-sidebar {
  background-color: #648381;
  border-right: 1px solid grey;
}
