.header {
  display: flex;
  flex-direction: row wrap;
  margin-top: 1.1rem;
  align-items: center;
}
.avatar {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin: 0 10px;
}

.header p {
  font-size: 18px;
  font-family: cursive;
}
/* new convo tab */
.new-convo {
  display: flex;

  color: #fff;
  align-items: center;
  justify-content: space-evenly;
}
.new-convo p {
  font-size: 22px;
}
.new-convo .fas {
  cursor: pointer;
}
.new-convo-tab {
  border: 1px solid darkslategray;
  height: 400px;
  width: 400px;
  background-color: white;
  position: absolute;
  top: 100px;
  right: 350px;
  z-index: 99;
}
.nct-header {
  background-color: #648381;
  color: #fff;
  height: 55px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.nct-header p {
  font-size: 18px;
}
.nct-header .fas {
  cursor: pointer;
}
.nct-list {
  height: 350px;
  overflow: auto;
}
@media screen and (max-width: 1200px) {
  .new-convo-tab {
    width: 300px;
  }
}
