.no-chat-background {
  background: url('../../images/background.jpg');
  height: 100vh;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid black;
}
.message-box {
  height: 100vh;
  padding: 3px;
  overflow: auto;
}
.messages-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 40px;
}
/* chat bubbles css */
.left-bubble {
  width: 240px;
  height: auto;
  display: block;
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 2px 8px 5px #000;
  position: relative;
  margin: 25px 0;
  padding: 8px;
}
.txt {
  padding: 8px 55px 8px 14px;
}
.name {
  font-weight: 600;
  font-size: 12px;
  margin: 0 0 4px;
  color: #3498db;
}
.message-timestamp {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  text-transform: uppercase;
  color: #999;
}
.bubble-arrow {
  position: absolute;
  width: 0;
  bottom: 42px;
  left: -16px;
  height: 0;
}
.bubble-arrow:after {
  content: '';
  position: absolute;
  border: 0 solid transparent;
  border-top: 9px solid #f5f5f5;
  border-radius: 0 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(145deg);
}
/* right bubble */
.right-bubble {
  width: 240px;
  height: auto;
  display: block;
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 2px 8px 5px #000;
  position: relative;
  margin: 0 0 0 60px;
  align-self: flex-end;
  padding: 8px;
}
.bubble-arrow-alt {
  right: -2px;
  bottom: 40px;
  left: auto;
}
.bubble-arrow-alt:after {
  transform: rotate(45deg) scaleY(-1);
}
/* message-input */
.message-input {
  display: flex;
  width: 100%;
  background: #141e30; /* fallback for old browsers */
  z-index: 2;
  position: sticky;
  bottom: 0;
  padding: 1.1rem;
}

.message-input input {
  border-radius: 18px;
  background-color: #323739;
  outline: none;
  color: rgb(255, 255, 255);
  max-width: 70%;
  padding: 0.6rem;
}
.message-input input::placeholder {
  color: rgb(255, 255, 255);
}
